
<div class="page-wrapper">
  <div class="wrapper">
    <div class="card card-2">
      <div class="card-heading">

      </div>

      <div class="card-body">
        <h2 class="title">
          Sign Up
        </h2>

        <form [formGroup]="form" class="form-container">
          <div class="input-group">
            <!-- <label>Name</label> -->
            <input class="input--style-2" type="text" formControlName="first_name" pInputText  placeholder="First Name"/>
          </div>
          <div class="input-group">
            <!-- <label>Name</label> -->
            <input class="input--style-2" type="text" formControlName="last_name" pInputText  placeholder="Last Name"/>
          </div>
          <div class="input-group">
            <!-- <label>Name</label> -->
            <input class="input--style-2" type="email" formControlName="email" pInputText  placeholder="Email"/>
          </div>
          <div class="input-group-1">
            <!-- <label>Name</label>  -->
            <input class="input--style-2" type="password" formControlName="password" pInputText  placeholder="Password"/>
          </div>
          <div class="help-text" style="margin-top: 0px;">password must be minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character</div>

          <div style="padding-top: 30px;">
            <button pButton label="Submit"  (click)="onSubmit()" class="ui-button-raised" ></button>
          </div>
          <div class="form-item">
            <div *ngIf="alreadRegistered"  class="resend-email">Already Registered, If you haven't verified email then verify email to continue <span (click)="resendEmail()">Resend Email</span></div>

          </div>
        </form>


      </div>
    </div>

  </div>
</div>


<!-- <div class="login-body">
  <div class="container"  >
    <form [formGroup]="form" fxLayout="column" fxLayoutAlign="space-evenly stretch" style="width: 100%;">
      <div  class="form-item">
        <p>Sign Up </p>
        <span layout="row"><hr flex/></span>
      </div>
      <div fxFlex="100%" class="form-item">
        <label>First Name</label>
        <input formControlName="first_name" type="text" pInputText autofocus >
      </div>
      <div fxFlex="100%" class="form-item">
        <label>Last Name</label>
        <input formControlName="last_name" type="text" pInputText  >
      </div>
      <div fxFlex="100%" class="form-item">
        <label>Email</label>
        <input formControlName="email" type="email" pInputText >
      </div>
      <div fxFlex="100%"  class="form-item">
        <label>Password</label>
        <input formControlName="password" type="password" pInputText >
        <div class="help-text">password must be minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character</div>
      </div>

      <div fxFlex="100%"  class="form-item">
        <button pButton type="button" label="Sign Up" (click)="onSubmit()"></button>
      </div>
      <div class="form-item">
        <div *ngIf="alreadRegistered" class="resend-email">Already Registered, If you haven't verified email then verify email to continue <span (click)="resendEmail()">Resend Email</span></div>

      </div>

    </form>
  </div>

</div> -->


