<p>observation-form works!</p>




<form [formGroup]="form" class="form-container">
  <ng-container *ngFor="let key of keys">
    <div>
      <div>{{key.value}}</div>
      <!-- <p-inputSwitch formControlName="{{ key.label }}" styleClass="in-switch"></p-inputSwitch> -->
      <p-radioButton name="{{ key.label }}" value="true" label="Yes" formControlName="{{ key.label }}"></p-radioButton>
      <p-radioButton name="{{ key.label }}" value="false" label="No" formControlName="{{ key.label }}"></p-radioButton>
    </div>
  </ng-container>

  <div>
    <div>Heart Rate</div>
    <input type="text" pInputText pKeyFilter="int" formControlName="heart_rate">
  </div>

  <div>
    <div>Vomiting</div>
    <p-dropdown [options]="vomitingOptions" formControlName="vomiting" optionLabel="name"></p-dropdown>
  </div>
  <div>
    <div>Body Temperature</div>
    <input type="text" pInputText pKeyFilter="int" formControlName="body_temperature">
  </div>
  <div>
    <div>RT PCR Test</div>
    <input type="text" pInputText  formControlName="rt_pcr_test">
  </div>
  <div>
    <div>Existing Illness</div>
    <textarea pInputTextarea formControlName="existing_illness" autoResize="autoResize"></textarea>
  </div>
  <div>
    <div>Respiratory Rate</div>
    <input type="text" pInputText  formControlName="respiratory_rate">
  </div>
</form>
