@import "_theme";


.form-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  &>div>div{
    font-weight: bold;
  }
  &>div{
    margin: 16px;
  }
}

:host ::ng-deep .in-switch{
  vertical-align: middle;
  margin-left: 8px;
}
