<div class="section-container" *ngFor="let observation of observations;let i=index">
  <div class="header">
    <h3>Observation: {{i +1}}</h3>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around stretch">
    <div fxFlex="30" style="text-align: center;">
      <div class="xray">
        <img src="/assets/images/xray-1.png"/>
      <img src="/assets/images/xray-2.jpg"/>
      </div>
    </div>
    <div fxFlwx="20">
      <div class="md-chips">
        <div class="md-chip md-chip-raised " [ngClass]="observation[key.label]? 'active-value ': 'inactive-value' "  *ngFor="let key of keys" style="margin: 4px;">
          <!-- <div class="md-chip-icon">{{ label.name[0] }}</div> -->
          {{ key.value }}
        </div>
      </div>
    </div>
    <div fxFlex="50">

      <div class="profile-content">



        <div>
          <div class="p-label">Hear Rate</div>
          <div class="value">{{observation.heart_rate}}</div>
        </div>
        <div>
          <div class="p-label">Vomitting / Diarroea</div>
          <div class="value">{{observation.vomiting }}</div>
        </div>
        <div>
          <div class="p-label">Body temperature</div>
          <div class="value">{{observation.body_temperature}}</div>
        </div>
        <div>
          <div class="p-label">RT PCR test</div>
          <div class="value">{{observation.rt_pcr_test | posNeg}}</div>
        </div>
        <div>
          <div class="p-label">Existing Illness</div>
          <div class="value">{{observation.existing_illness}}</div>
        </div>
        <div>
          <div class="p-label">O2 Saturation</div>
          <div class="value ">{{observation.o2_saturation}}</div>
        </div>
        <div>
          <div class="p-label">Respiratory Rate</div>
          <div class="value" >{{observation.respiratory_rate }}</div>
        </div>
        <div>
          <div class="p-label">Observation Time</div>
          <div class="value" >{{observation.observed_at | date:'short' }}</div>
        </div>

        <!-- <ng-container *ngFor="let key of keys">

          <div>
            <div class="p-label">{{key.value}}</div>
            <div class="value ">{{observation[key.label]}}</div>
          </div>
        </ng-container> -->
        <!-- <div>
          <span class="p-label">Hear Rate</span>
          <div class="value true-value">{{observation.heart_rate}}</div>
        </div>
        <div>
          <div class="p-label">O2 Saturation</div>
          <div class="value ">{{observation.o2_saturation}}</div>
        </div>
        <div>
          <div class="p-label">SOB</div>
          <div class="value" [ngClass]="observation.sob? 'active-value ': 'inactive-value' "> <i class="fa fa-check-square-o" aria-hidden="true"></i> {{observation.sob | yesNo}}</div>
        </div>
        <div>
          <div class="p-label">Dizziness</div>
          <div class="value" [ngClass]="observation.dizziness? 'active-value': 'inactive-value' ">{{observation.dizziness | yesNo}}</div>
        </div>
        <div>
          <div class="p-label">Reduced Urine</div>
          <div class="value" [ngClass]="observation.reduced_urine? 'active-value': 'inactive-value' ">{{observation.reduced_urine | yesNo}}</div>
        </div>
        <div>
          <div class="p-label">Respiratory Rate</div>
          <div class="value" >{{observation.respiratory_rate }}</div>
        </div>
        <div>
          <div class="p-label">Cardiac Chest Pain</div>
          <div class="value" [ngClass]="observation.chest_pain? 'active-value': 'inactive-value' ">{{observation.chest_pain | yesNo}}</div>
        </div>
        <div>
          <div class="p-label">Drowsy/Unconscious</div>
          <div class="value" [ngClass]="observation.unconscious? 'active-value': 'inactive-value' ">{{observation.unconscious | yesNo}}</div>
        </div>
        <div>
          <div class="p-label">Confusion</div>
          <div class="value" [ngClass]="observation.confusion? 'active-value': 'inactive-value' ">{{observation.confusion | yesNo}}</div>
        </div>
        <div>
          <div class="p-label">Cold Extremities / Skin Motting</div>
          <div class="value" [ngClass]="observation.cold_extremities? 'active-value': 'inactive-value' ">{{observation.cold_extremities | yesNo}}</div>
        </div>
        <div>
          <div class="p-label">Fever</div>
          <div class="value" [ngClass]="observation.fever? 'active-value': 'inactive-value' ">{{observation.fever | yesNo}}</div>
        </div>
        <div>
          <div class="p-label">Nasal Symptoms</div>
          <div class="value" [ngClass]="observation.nasal? 'active-value': 'inactive-value' ">{{observation.nasal | yesNo}}</div>
        </div>
        <div>
          <div class="p-label">Vomitting / Diarroea</div>
          <div class="value">{{observation.vomiting }}</div>
        </div>
        <div>
          <div class="p-label">Anosmia</div>
          <div class="value" [ngClass]="observation.anosmia? 'active-value': 'inactive-value' ">{{observation.anosmia | yesNo}}</div>
        </div>
        <div>
          <div class="p-label">Continuous Cough</div>
          <div class="value" [ngClass]="observation.continuous_cough? 'active-value': 'inactive-value' ">{{observation.continuous_cough | yesNo}}</div>
        </div>
        <div>
          <div class="p-label">Body Aches</div>
          <div class="value" [ngClass]="observation.body_aches? 'active-value': 'inactive-value' ">{{observation.body_aches | yesNo}}</div>
        </div>
        <div>
          <div class="p-label">Sore Throat</div>
          <div class="value" [ngClass]="observation.sore_throat? 'active-value': 'inactive-value' ">{{observation.sore_throat | yesNo}}</div>
        </div>
        <div>
          <div class="p-label">Headache</div>
          <div class="value" [ngClass]="observation.headache? 'active-value': 'inactive-value' ">{{observation.headache | yesNo}}</div>
        </div>
        <div>
          <div class="p-label">Body temperature</div>
          <div class="value">{{observation.body_temperature}}</div>
        </div>
        <div>
          <div class="p-label">RT PCR test</div>
          <div class="value">{{observation.rt_pcr_test}}</div>
        </div>
        <div>
          <div class="p-label">Existing Illness</div>
          <div class="value">{{observation.existing_illness}}</div>
        </div> -->

      </div>

    </div>
  </div>




</div>
