@import "_theme";

.section-container{
  margin: 16px;
}
.header{
    color: $primary;
    padding: 4px;
    background-color: #eeeded;
    h3{
      display: inline;
    }
}

.profile-content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .value{
    display: inline;
    // margin-left: 16px;
  }
}
.profile-content > div{
  margin: 16px;
}
.p-label{
  font-weight: 600;
  // display: inline;
}
.xray{
  text-align: center;
  img{
    width: 200px;
    height: 200px;
    display: block;
    margin: 16px auto;
  }
}


.active-value{
  background-color: #C8E6C9;
      color: #256029;
}

.inactive-value{
  background-color: #FFCDD2;
      color: #C63737;
}


$md-chip-height: 32px;
$md-chip-color: #e0e0e0;

.md-chip {
  display: inline-block;
  // background: $md-chip-color;
  padding: 0 12px;
  border-radius: 32px;
  font-size: 13px;
  &.md-chip-hover:hover {
    background: #ccc;
  }
}

.md-chip-clickable {
 cursor: pointer;
}

.md-chip, .md-chip-icon {
  height: $md-chip-height;
  line-height: $md-chip-height;
}

.md-chip-icon {
  display: block;
  float: left;
  background: $primary;
  width: $md-chip-height;
  border-radius: 50%;
  text-align: center;
  color: white;
  margin: 0 8px 0 -12px;
}



.md-chips {
  padding: 12px 0;
  .md-chip {
    margin: 0 5px 3px 0;
  }
}

.md-chip-raised {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
