<div class="page-wrapper">
  <div class="wrapper">
    <div class="card card-2">
      <div class="card-heading">

      </div>

      <div class="card-body">
        <h2 class="title">
          Register Patient
        </h2>

        <form [formGroup]="form" class="form-container">
          <div class="input-group">
            <!-- <label>Name</label> -->
            <input class="input--style-2" type="text" formControlName="name" pInputText  placeholder="Name"/>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxLayoutGap="8px">
              <div fxFlex="45">
                <div>
                  <!-- <label>Date of Birth</label>   -->
                  <p-inputMask styleClass="mask" mask="9999-99-99"  autoClear="true" formControlName="date_of_birth" placeholder="Date of Birth" slotChar="yyyy-mm-dd"></p-inputMask>
                </div>
              </div>
              <div fxFlex="45">
                <div>
                  <!-- <label>Gender</label> -->
                  <p-selectButton [options]="genderType" formControlName="gender"></p-selectButton>
                </div>
              </div>
          </div>


          <div>
            <!-- <label>Phone Number</label> -->
            <p-inputMask styleClass="mask" autoClear="true" mask="9999999999" slotChar="xxxxxxxxxx" formControlName="phone_number" placeholder="phone number"></p-inputMask>
          </div>

          <div>
            <!-- <label>AAdhar Number</label>  -->
            <p-inputMask styleClass="mask"  autoClear="true" mask="999999999999" slotChar="xxxxxxxxxxxx" title="sdg" formControlName="aadhar_number" placeholder="Aadhar Number"></p-inputMask>
          </div>



          <div>
            <button pButton label="Submit" [disabled]="!form.valid" (click)="onSubmit()" class="ui-button-raised" ></button>
            <button pButton label="Back"  (click)="onBack()" class="ui-button-raised ui-button-secondary" style="margin-left: 16px;"></button>
          </div>
        </form>


      </div>
    </div>

  </div>
</div>

