@import "_theme";




.page-wrapper{

  // background: $primary;
  min-height: calc(100vh - 56px);


}
.wrapper{
  max-width: 960px;
  margin: 0 auto;
  // position: absolute;
  // top: 50%; left: 50%;
  // transform: translate(-50%,-50%);
}



.card-2{
  font-family: roboto,arial,helvetica neue,sans-serif;
  // -webkit-box-shadow: 0 8px 20px 0 rgba(0,0,0,.15);
  //   -moz-box-shadow: 0 8px 20px 0 rgba(0,0,0,.15);
  //   box-shadow: 0 8px 20px 0 rgba(0,0,0,.15);
  //   -webkit-border-radius: 10px;
  //   -moz-border-radius: 10px;
  //   border-radius: 10px;
    width: 100%;
    display: table;

    .card-heading{
      background: url('/assets/images/undraw_medical_research_qg4d.png') top left/cover no-repeat;
      width: 29.1%;
      display: table-cell;
    }
    .card-body{
      display: table-cell;
      padding: 80px 90px;
      padding-bottom: 88px;

      .title{
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 37px;
        font-size: 30px;
      }
    }
}
.card{
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}


.input-group{
  position: relative;
    margin-bottom: 32px;
    border-bottom: 1px solid #e5e5e5;
    .input--style-2{
      padding: 9px 0;
      color: #666;
      font-size: 16px;
      font-weight: 500;
    }
}

.ui-inputtext{
  padding: 9px 0;
      color: #666;
      font-size: 16px;
      font-weight: 500;
}


input, p-inputMask{
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
}


:host ::ng-deep .mask{
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;

  padding: 9px 0;
  color: #666;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 32px;
}

@media screen and (max-width: 600px) {
  :host ::ng-deep .card-heading{
   display: none;

  }
  :host ::ng-deep .card-2{

    .card-body{
      padding: 20px 24px;
    }

  }
  .page-wrapper{
    padding: 8px;
  }
}
