@import '_theme';

:host ::ng-deep .search-patient{
  text-align: center;
  .ui-card-body{
    font-family: roboto,arial,helvetica neue,sans-serif;
    -webkit-box-shadow: 0 8px 20px 0 rgba(0,0,0,.15);
      -moz-box-shadow: 0 8px 20px 0 rgba(0,0,0,.15);
      box-shadow: 0 8px 20px 0 rgba(0,0,0,.15);
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      width: 100%;
      display: table;
  }
}



:host ::ng-deep .ui-table-patients {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    .ui-table-tfoot > tr > td{
     border: 0;
     background-color: #f4f4f4;
   }




  .ui-paginator {
      .ui-dropdown {
          float: left;
      }

      .ui-paginator-current {
          float: right;
      }
  }


  .ui-column-filter {
      display: block;

      input {
          width: 100%;
      }
  }



  .ui-datepicker {
      min-width: 25em;

      td {
          font-weight: 400;
      }
  }

  .ui-table-caption {
      border: 0 none;
      padding: 12px;
      text-align: left;
      font-size: 20px;
      color: $primary;
      // background-color: $primary;
      button{
        float: right;
      }
  }

  .ui-paginator {
      border: 0 none;
      padding: 1em;
  }

  .ui-table-thead > tr > th {
      border: 0 none;
      text-align: left;
      word-break: break-all;
      &.ui-filter-column {
          border-top: 1px solid #c8c8c8;
      }


  }

  .ui-table-tbody > tr > td {
    word-break: break-all;
      border: 0 none;
      cursor: auto;


  }

  .ui-dropdown-label:not(.ui-placeholder) {
      text-transform: uppercase;
  }

  .ui-table-tbody > tr > td .ui-column-title {
      display: none;
  }
}

/* Responsive */
@media screen and (max-width: 64em) {
  :host ::ng-deep .ui-table {
      &.ui-table-customers {
          .ui-table-thead > tr > th,
          .ui-table-tfoot > tr > td {
              display: none !important;
          }

          .ui-table-tbody > tr > td {
              text-align: left;
              display: block;
              border: 0 none !important;
              width: 100% !important;
              float: left;
              clear: left;
              border: 0 none;

              .ui-column-title {
                  padding: .4em;
                  min-width: 30%;
                  display: inline-block;
                  margin: -.4em 1em -.4em -.4em;
                  font-weight: bold;
              }
          }
      }
  }
}


// ::ng-deep body .ui-button.ui-state-default.ui-button-danger{
//   background-color: #ff6363;
// }


:host ::ng-deep .upload-dialog{
  p-header{
    color: $primary;

  }
  .ui-dialog-titlebar{
    display: none;
  }
  height: 80vh;
    width: 80vw;
    max-width: 960px;
  .ui-dialog-content{
    border: 0;
  }
  .ui-dialog-content{
    -webkit-box-shadow: 0 8px 20px 0 rgba(0,0,0,.15);
    -moz-box-shadow: 0 8px 20px 0 rgba(0,0,0,.15);
    box-shadow: 0 8px 20px 0 rgba(0,0,0,.15);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
}
