<p-table #dt [columns]="cols" [value]="patients"  dataKey="id" styleClass="ui-table-patients" [rowHover]="true"

    >
      <ng-template pTemplate="caption">
        Patients

        <button pButton type="button" label="Add Patient"  class="ui-button-raised" routerLink="/patient"></button>

      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
              ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
            </p-sortIcon>
          </th>
        </tr>
        <tr>
        <th>
          <input pInputText type="text" [(ngModel)]="name" (keyup)="searchPatients()" placeholder="Search by Name" class="ui-column-filter" >
        </th>
        <th>
          <p-inputMask styleClass="mask" mask="9999-99-99" (onInput)="maskInputClear($event)" (onComplete)="searchPatients()" [(ngModel)]="dateOfBirth" placeholder="Date of Birth" slotChar="yyyy-mm-dd"></p-inputMask>

        </th>
        <th>
          <input pInputText type="text" [(ngModel)]="phoneNumber" (keyup)="searchPatients()" placeholder="Search by mobile" class="ui-column-filter" >

        </th>
        <th>
          <input pInputText type="text" [(ngModel)]="adharNumber" (keyup)="searchPatients()" placeholder="Search by Aadhar" class="ui-column-filter" >


        </th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns"  let-ri="rowIndex">
        <tr class="ui-selectable-row" (click)="goToPatientDetail(rowData.id)">

          <td>
            <span class="ui-column-title">Name</span>
            {{rowData.name}}
          </td>
          <td>
            <span class="ui-column-title">Date Of Birth</span>
            {{rowData.date_of_birth}}
          </td>
          <td>
            <span class="ui-column-title">Mobile Number</span>
            {{rowData.phone_number}}
          </td>
          <td>
            <span class="ui-column-title">Adhar Number</span>
            {{rowData.aadhar_number}}
          </td>
          <td>
            <span class="ui-column-title">Gender</span>
            {{rowData.gender}}
          </td>
          <td>
            <span class="ui-column-title">Created At</span>
            {{rowData.created_at | date:'short'}}
          </td>
          <td>
            <span class="ui-column-title">Registered By</span>
            {{rowData.registered_by.email}}
          </td>
        </tr>
      </ng-template>


      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="3" style="text-align:left">No User found.</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="footer" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            <p-paginator #pg  [rows]="20" [totalRecords]="totalPatients" [rowsPerPageOptions]="[20,30,50]" (onPageChange)="onPageChange($event,pg)"></p-paginator>
          </td>
      </tr>

    </ng-template>
    </p-table>


<!-- <div fxLayout="row" fxLayout.sm="column wrap" fxLayout.xs="column wrap" fxLayoutAlign="center stretch" fxLayoutGap="8px">
  <div fxFlex="20" fxFlex.sm="100" fxFlex.xs="100">
    <p-card header="Find Patient" styleClass="search-patient">
      <div fxLayout="column wrap" fxLayoutAlign="center stretch" fxLayoutGap="16px">
        <div fxFlex="25">
          <div>Name</div>
          <input type="text" pInputText [(ngModel)]="name">
        </div>
        <div fxFlex="25">
          <div>Date Of Birth</div>
          <p-calendar [(ngModel)]="dateOfBirth" monthNavigator="true" dateFormat="dd/mm/yy" [yearNavigator]="true"
            yearRange="1900:2020"></p-calendar>
        </div>
        <div fxFlex="25">
          <div>phone Number</div>
          <input type="text" pInputText [(ngModel)]="phoneNumber">
        </div>
        <div fxFlex="25">
          <div>Aadhar Number</div>
          <input type="text" pInputText [(ngModel)]="adharNumber">
        </div>
        <div fxFlex="25">
          <button pButton type="button" label="Search patient" class="ui-button-rounded"
            (click)="searchPatients()"></button>
        </div>
      </div>
    </p-card>

  </div>
  <div fxFlex="70">


    <p-table #dt [columns]="cols" [value]="patients"  dataKey="id" styleClass="ui-table-patients" [rowHover]="true"

    >
      <ng-template pTemplate="caption">
        Search Result

        <button pButton type="button" label="Add Patient"  class="ui-button-raised" (click)="showPatientFormDialog = true"></button>

      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
              ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
            </p-sortIcon>
          </th>
        </tr>
        <tr>
        <th>
          <input pInputText type="text" [(ngModel)]="name" placeholder="Search by Name" class="ui-column-filter" >
        </th>
        <th>
          <p-inputMask styleClass="mask" mask="99/99/9999" [(ngModel)]="dateOfBirth" placeholder="Date of Birth" slotChar="mm/dd/yyyy"></p-inputMask>

        </th>
        <th>
          <p-inputMask styleClass="mask" mask="9999999999" [(ngModel)]="phoneNumber" placeholder="phone number" class="ui-column-filter"></p-inputMask>

        </th>
        <th>
          <p-inputMask styleClass="mask" mask="999999999999"  [(ngModel)]="adharNumber" placeholder="Aadhar Number"></p-inputMask>

        </th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-editing="editing" let-ri="rowIndex">
        <tr class="ui-selectable-row" [pEditableRow]="rowData">

          <td>
            <span class="ui-column-title">Name</span>
            {{rowData.name}}
          </td>
          <td>
            <span class="ui-column-title">Date Of Birth</span>
            {{rowData.date_of_birth}}
          </td>
          <td>
            <span class="ui-column-title">Phone Number</span>
            {{rowData.phone_number}}
          </td>
          <td>
            <span class="ui-column-title">Adhar Number</span>
            {{rowData.aadhar_number}}
          </td>
          <td>
            <span class="ui-column-title">Gender</span>
            {{rowData.gender}}
          </td>
          <td>
            <span class="ui-column-title">Created At</span>
            {{rowData.created_at | date:'short'}}
          </td>
          <td>
            <span class="ui-column-title">Registered By</span>
            {{rowData.registered_by}}
          </td>


        </tr>
      </ng-template>


      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="3" style="text-align:left">No User found.</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="footer" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            <p-paginator #pg  [rows]="20" [totalRecords]="totalPatients" [rowsPerPageOptions]="[20,30,50]" (onPageChange)="onPageChange($event,pg)"></p-paginator>
          </td>
      </tr>

    </ng-template>
    </p-table>




  </div>
</div>


<p-dialog [(visible)]="showPatientFormDialog" [modal]="true" styleClass="upload-dialog" [draggable]="false">
  <app-patient-form> </app-patient-form>



</p-dialog> -->
