
<div style="display: grid;grid-template-rows: 56px auto">
  <app-top-nav></app-top-nav>
  <div style="margin: 8px;" *ngIf="isLoggedIn;else elseBlock">
    <router-outlet></router-outlet>
  </div>
<ng-template #elseBlock>
  <router-outlet></router-outlet>
</ng-template>


</div>
<app-notification></app-notification>

