<div class="top-nav">
  <div class="logo">
    <a routerLink="/">CAIT</a>
  </div>
  <span class="spacer"></span>
  <div *ngIf="loggedIn; else notLoggedIn" (click)="logout()" class="logout">Logout

  </div>
  <ng-template #notLoggedIn>

    <a routerLink="/login" >Login</a>
    <a  routerLink="/register">Register</a>
  </ng-template>


</div>
