@import "_theme";

.top-nav {
  display: flex;
  flex-direction: row;
  background-color: $primary;
  height: 56px;
  padding: 8px 16px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  align-items: center;
  white-space: nowrap;
  color: white;
  font-size: 16px;
  font-weight: 400;
  .logo{
    font-size: 20px;
    a{
      text-decoration: none;
      color: white;
    }
  }
  .logout{
    cursor: pointer;
  }
}

.spacer {
  flex: 1 1 auto;
}

a{
  color: white;
  margin-right: 8px;
  &:hover{
    color: white;
  }
}
