<div class="container">
  <div class="profile">
 <div class="profile-body"  >
        <div fxLayout="row">
          <div fxFlex="20" fxFlexAlign="center">

            <div *ngIf="patient" class="basic-info">
              <img  src="/assets/images/Group 1.png"  alt="" />
              <div class="name">{{patient.name}}</div>
              <div class="value">{{patient.address}}</div>

            </div>
          </div>
          <div fxFlex="80">
            <div class="section-container">
              <div class="header">
                <h3>Personal Info:</h3>
              </div >


                <div class="profile-content" *ngIf="patient">
                  <div >
                    <div  class="p-label">Gender</div>
                    <div class="value">{{patient.gender}}</div>
                  </div>

                  <div >
                    <div  class="p-label">Date of Birth</div>
                    <div class="value">{{patient.date_of_birth}}</div>
                  </div>
                  <div >
                    <div class="p-label">Phone Number</div>
                    <div class="value">{{patient.phone_number}}</div>

                  </div>
                  <div >
                    <div  class="p-label">Aadhar Number</div>
                    <div class="value">{{patient.aadhar_number}}</div>

                  </div>
                </div>

            </div>


              <div class="section-container">
                <div class="header">
                  <h3>First Treated By:</h3>
                </div>
                <div class="profile-content" *ngIf="doctor">
                  <div >
                    <div class="p-label">Name</div>
                    <div class="value">{{doctor.first_name}} {{doctor.last_name}}</div>

                  </div>
                  <div >
                    <div  class="p-label">Email</div>
                    <div class="value">{{doctor.email}}</div>

                  </div>
                </div>
              </div>
          </div>
        </div>

      </div>

      <!-- <div style="clear: both;"></div> -->

  </div>
</div>



<app-observation-list [patientId]="patient.id" *ngIf="patient"></app-observation-list>
