@import "_theme";

.section-container{
  margin: 16px;
}
.header{
    color: $primary;
    padding: 4px;
    background-color: #eeeded;
    h3{
      display: inline;
    }
}
:host ::ng-deep .toggleButton{
  float: right;

}
.profile-content{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));

}
.p-label{
  font-weight: bold;
}


.basic-info{
  text-align: center;
  img{
    width: 180px;
    height: 180px;
  }
  .name{
    font-size: 24px;
    font-weight: 700;
  }

}
.value{
  // font-size: 14px;
  color: #9d9d9d;

}
