<!-- <div class="login-body">
  <div class="container"  >
    <form [formGroup]="form" fxLayout="column" fxLayoutAlign="space-evenly stretch" style="width: 100%;">
      <div  class="form-item">
        <p>Login </p>
        <span layout="row"><hr flex/></span>
      </div>
      <div fxFlex="100%" class="form-item">
        <label>Email</label>
        <input formControlName="email" type="email" pInputText autofocus >
      </div>
      <div fxFlex="100%"  class="form-item">
        <label>Password</label>
        <input formControlName="password" type="password" (keyup.enter)="onSubmit()" pInputText >
      </div>
      <div fxFlex="100%"  class="form-item">
        <button pButton type="button" label="Login" (click)="onSubmit()"></button>
      </div>
      <div class="form-item">
        <span style="float: right;"><a href="#">Forgot password?</a></span>
        <div style="clear: both;"></div>
        <span *ngIf="errorMessage" class="error">{{errorMessage}}</span>
      </div>
    </form>
  </div>

</div> -->



<div class="page-wrapper">
  <div class="wrapper" >
    <div class="card card-2" >
      <div class="card-heading">

      </div>

      <div class="card-body">
        <h2 class="title">
          Login
        </h2>

        <form [formGroup]="form" class="form-container">
          <div class="input-group">
            <!-- <label>Name</label> -->
            <input class="input--style-2" type="email" formControlName="email" pInputText  placeholder="Email"/>
          </div>
          <div class="input-group-1">
            <!-- <label>Name</label>  -->
            <input class="input--style-2" type="password" formControlName="password" pInputText  placeholder="Password"/>
          </div>

          <div style="padding-top: 30px;">
            <button pButton label="Submit"  (click)="onSubmit()" class="ui-button-raised" ></button>
          </div>

        </form>


      </div>
    </div>

  </div>
</div>



