@import "~primeng/resources/themes/nova-light/theme.css";



$primary: #007ad9;
$secondary: #f4f4f4;
$success :#34a835;
$info:#007ad9;
$warn:#ffba01;
$danger:#e91224;


$background:#fafafa;
$primaryDark: #00695C;
$primaryLight: #80CBC4;
$accent: red;
$accentDark: #9E9D24;
$accentLight: #E6EE9C;
$accentText: #212121;


$inactive:#d4d3d3;


//font size variables
$headerFontSize:20px;
